#header {
  color: #ffffff;
  background-color: #333333;
  padding: 0 14px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  min-width: 400px !important;
}

.video-container {
  width: 100%;
  height: 100%;
}

.toolbar{
  min-height: 40px !important;

}

#titleContent{
  max-width: 100px;
  background-color: #494949;
  margin: 5px -18px;
  padding: 0px 15px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttonsContent{
	height: 40px !important;
	text-align: center;
	margin: auto;
  min-width: 400px;
}
.navButton{
	height: 40px !important;
	width : 40px !important;
}

#navChatButton{
  position: absolute;
  right: 0;
}
.stream-container {
    padding: 0;
}


.bounds {
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 20px;
}

#users {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  padding-right: 20px;
  border-radius: 20px;
}
.join-btnbox {
  width: 100%;
  height: 100%;
}
.join-btn {
  /* position: relative;
  background-color: #262626; */
  /* color: white; */
  /* border-radius: 20px; */
  /*margin: 5px;
  width: 20%;
  height: 10%;
  left: 40%;
  top: 40%;
  position: relative;
  border: none;
  min-width: 200px;
  min-height: 50px;
  background: linear-gradient(
      90deg,
      rgb(116, 136, 133) 0%,
      rgb(19, 24, 23) 100%
  );
  border-radius: 1000px;
  color: rgb(203, 216, 216);
  cursor: pointer;
  box-shadow: 12px 12px 24px rgba(43, 56, 55, 0.64);
  font-weight: 700;
  transition: 0.3s; */
  margin: 5px;
  width: 20%;
  height: 10%;
  left: 40%;
  top: 40%;
  position: relative;
  border-radius: 10px;
  background: rgba(255,27,0,0);
    color: #d9aa52;
  border-color: #d9aa52;
  border: solid;
  font-size: 1.2em;
}


.join-btn:hover {
  transform: scale(1.2);
}



#footer {
  background: none;
}
