@media all and (min-width:768px) and (max-width:1023px) {
    .camera-view {
        grid-area: camera;
        width: 412.4px;
        height: 370.224px;
    }

}

@media all and (min-width:1024px) and (max-width:1919px) {
    .camera-view {
        grid-area: camera;
        width: 553.2px;
        height: 658.176px;
    }
}

@media all and (min-width:1920px) and (max-width:2559px) {
    .camera-view {
        grid-area: camera;
        width: 1046px;
        height: 900px;
    }

}

@media all and (min-width:2560px) {
    .camera-view {
        grid-area: camera;
        width: 1398px;
        height: 1234.08px;
    }

}

.camera-view {
    background-color: rgba(0,0,0,.55);
    margin-top: 10px;
    margin-left:10px;
    border-radius: 38px;
}
